CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""

INTERNAL_AUTH_KEY=""

AWS_SES_ACCESS_KEY=""
AWS_SES_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_SES_EMAIL_FROM=""
BOT_API_URL=""

HK_ENV="development"
CLOUDFLARE_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""

TURSO_AUTH_TOKEN=""
TURSO_DATABASE_URL=""

UPSTASH_REDIS_REST_TOKEN=""
UPSTASH_REDIS_REST_URL=""
